<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login - EasyMart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">
  <div class="login-wrapper">
    <div class="login-left">
      <h2 class="login-title">Welcome to EasyMart</h2>
      {% if error %}<p class="error">{{ error }}</p>{% endif %}
      <form method="post">
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>
        <label>User ID</label>
        <input type="text" name="password" placeholder="Enter your User ID" required>
        <button type="submit">Login</button>
      </form>
      <p class="register-link">Don’t have an account? <a href="/register">Register here</a></p>
    </div>
    <div class="login-right custom-bg">
      <img src="{{ url_for('static', filename='easymart_logo.png') }}" alt="EasyMart Logo" class="login-logo">
    </div>
  </div>
</body>
</html>
