<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Products - EasyMart</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-body">
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">EasyMart</a>
  
      <div class="d-flex align-items-center ms-auto gap-2">
        <a href="/cart" class="btn btn-outline-success position-relative">
          🛒 Cart
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ cart|length }}
          </span>
        </a>
  
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="categoryDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="categoryDropdown">
            <li><a class="dropdown-item" href="/products">Show All</a></li>
            <li><a class="dropdown-item" href="/products?category=Books">Books</a></li>
            <li><a class="dropdown-item" href="/products?category=Electronics">Electronics</a></li>
            <li><a class="dropdown-item" href="/products?category=Clothing">Clothing</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  

<div class="container mt-4">
  <div class="row">
    {% for pid, name, price, category in products %}
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <img src="/static/images/{{ name|lower|replace(' ', '_')|replace(':', '') }}.jpg" class="product-img card-img-top">

          <div class="card-body text-center">
            <h5 class="card-title">{{ name }}</h5>
            <p class="card-text">{{ price }} SAR</p>
            <a href="/add_to_cart/{{ pid }}" class="btn btn-primary" style="background-color: #dbe5ea; border-color: #dbe5ea; color: #000;">Add to Cart</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
