<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register - EasyMart</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <style>
   body {
    font-family: 'Poppins', sans-serif;
  }
  </style>


</head>
<body class="login-body">
  <div class="login-wrapper">
    <div class="login-left">
      <h2 class="login-title">Create Your Account</h2>
      {% if error %}<p class="error">{{ error }}</p>{% endif %}
      <form method="post">
        <label>User ID</label>
        <input type="text" name="id" placeholder="Enter your ID" required>
        <label>Name</label>
        <input type="text" name="name" placeholder="Enter your name" required>
        <label>Address</label>
        <input type="text" name="address" placeholder="Enter your address" required>
        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Register</button>
      </form>
      <p class="register-link">Already have an account? <a href="/">Login here</a></p>
    </div>
    <div class="login-right custom-bg">
      <img src="/static/easymart_logo.png" alt="EasyMart Logo" class="login-logo">
    </div>
  </div>
</body>
</html>
